 <% layout('layout') -%>
<style>
.colsHeight { height:200px!important;}
@media only screen and (max-width: 480px) {
	.colsHeight { height:100px!important; }
}
</style>
 <div class="row-fluid ">
	<div class="span2" style="text-align: center;" >
	   <p><img src="<%=img%>" id="imgurl" class="img-polaroid"></p>
	</div>
	
	<div class="span10 hidden-phone">
	  <h4><%=title%>-<%=author%></h4>
	  <%=description%>
	</div>
  </div>

<div class="container">
	<p class="muted credit" style="width:100%;text-align:justify;">Last Page : <input type="text" class="search-query" style="width:3em" value="<%=lastPage%>"> </p>
	<p class="muted credit" style="width:100%">Comment : <textarea rows="" cols="5" class="colsHeight" style="width:98%" ></textarea> </p>
</div>


<p style="text-align:right;margin-right: 1em;">
<button type="button" style="width:4em" class="btn btn-primary" onclick="submitF()">Save</button>
</p>

<p style="text-align:right;margin-right: 1em;">
<%var temp = new Date()%>
<%=temp.getFullYear()%>.<%=temp.getMonth()+1%>.<%=temp.getDate()%> / <%if(temp.getHours()<10){%>0<%}%><%=temp.getHours()%>:<%if(temp.getMinutes()<10){%>0<%}%><%=temp.getMinutes()%>
</p>


<script>


</script>

